.admin-profile-container {
  background-color: #fac62a;
  height: 100vh;
  width: 100%;
}

.admin-profile-info {
  margin: auto;
  padding: 100px 0;
  width: 90%;
}

h1 {
  margin: 0;
  padding: 10px 0;
}

.profile-container {
  align-items: center;
  background-color: #f5f5f580;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
}

.admin-profile-info h3 {
  font-weight: 600;
}
